body {
    background: url(./assets/background.jpg);
    background-size: 150%;
}

canvas { 
    background: url(./assets/backdrop.jpg);
    background-size: cover;
    background-position-y: -50px;
    display: block;
    margin: auto;
}

.border{
    border: solid;
    border-radius: 10px;
}

.row{
    margin:0;;
}

.header{
    text-align: center;
}

.container{
    padding: 10px;
    margin: auto;
}

.jumbotron {
    margin: auto;
    width: 750px;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    color: white;
    font-family: Lato;
    padding: 10px;
}
