* { 
    padding: 0;
    margin: 0;
}

body {
    background: url(./background.jpg);
    background-size: cover;

}

canvas { 
    background: url(./backdrop.jpg);
    background-size: cover;
    background-position-y: -50px;
    display: block;
    margin: 0 auto;
}

